@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
[class="editmenupage"]{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

[class="editmenupage"]body {
    background: #353535;
    transition: 0.5s;
}

[class="editmenupage"] .checkbox_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

[class="editmenupage"] .checkbox_container .option_item {
    display: block;
    position: relative;
    width: 175px;
    height: 175px;
    margin: 10px;
}

[class="editmenupage"] .checkbox_container .option_item .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

[class="editmenupage"] .option_item .option_inner {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 58px 40px;
    color: #585c68;
    display: block;
    border: 5px solid transparent;
    position: relative;
}

[class="editmenupage"] .option_item .option_inner:hover {
    border-color: #555;
    transition: 0.3s ease-in;
    transition: 0.4s ease-out;
}

[class="editmenupage"] .option_item .checkbox:checked~.option_inner {
    border-color: #e35f21;
    color: #e35f21;
}

[class="editmenupage"] .option_item .option_inner .tickmark {
    position: absolute;
    top: -1px;
    left: -1px;
    border: 20px solid;
    border-color: #000 transparent transparent #000;
    display: none;
}

[class="editmenupage"] .option_item .option_inner .tickmark:before {
    content: "";
    position: absolute;
    top: -18px;
    left: -18px;
    width: 15px;
    height: 5px;
    border: 3px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
}

[class="editmenupage"].option_item .checkbox:checked~.option_inner .tickmark {
    display: block;
}

[class="editmenupage"] .option_item .option_inner .tickmark {
    border-color: #e35f21 transparent transparent #e35f21;
}

[class="editmenupage"] h2.title {
    text-align: center;
    margin: 20px;
}

[class="editmenupage"] .hidden {
    display: none;
}

[class="editmenupage"] input:focus::-webkit-input-placeholder{
    font-size: .90em;
    position: relative;
    top: -15px;
    transition: 0.5s ease-out;
}

[class="editmenupage"] input::-webkit-input-placeholder, [class="editmenupage"] textarea::-webkit-input-placeholder{
    transition: 0.5s ease-in;
}

[class="editmenupage"] ::placeholder, [class="editmenupage"] textarea::placeholder{
    color: #dedede91;
    font-size: 15px;
}

[class="editmenupage"] textarea:focus, [class="editmenupage"] input:focus {
    color: #eef8f7;
}

[class="editmenupage"] input, [class="editmenupage"] select, [class="editmenupage"] textarea {
    color: #eef8f7;
}

[class="editmenupage"] input[type=text]:focus, [class="editmenupage"] textarea:focus{
    border: 3px solid #555;
}

[class="editmenupage"] .hidden .title .container {
    -ms-flex: 75%;
    flex: 75%;
}

[class="editmenupage"] input[id=packagename],[class="editmenupage"] input[id=packagecuisine],[class="editmenupage"] input[id=packagepax],[class="editmenupage"] input[id=packageprice]{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #2a2a2a;
    border-radius: 3px;
    background-color: #2a2a2a;
    transition: 0.4s;
	outline: none;
	-webkit-transition: 0.5s;
}

[class="editmenupage"] label {
    margin-bottom: 10px;
    display: block;
    color: #eef8f7;
}

[class="editmenupage"] form{
    width: 500px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

[class="editmenupage"] input[type=text]:hover,[class="editmenupage"] textarea[id=packagedesc]:hover{
    border-color: #555;
    transition: 0.3s ease-in;
    transition: 0.4s ease-out;
}

[class="editmenupage"] textarea[id=packagedesc] {
    width: 100%;
    height: 120px;
    background-color: #2a2a2a;
    border-radius: 3px;
    border: 1px solid #2a2a2a;
    padding: 12px;
    outline: none;
}

[class="editmenupage"] textarea:focus::-webkit-input-placeholder{
    font-size: .90em;
    position: relative;
    top: -11px;
    transition: 0.5s ease-out;
}

[class="editmenupage"] .button {
    background-color: #e35f21;
    color: white;
    padding: 12px;
    margin: 10px 0;
    margin-top: 50px;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
	font-size: 17px;
}

[class="editmenupage"] .button:active,[class="editmenupage"] .button:focus{
    outline: none;
    border: 4px solid #555;
}

[class="editmenupage"] .button:hover{
    border-radius: 3px;
    border: 3px solid #2a2a2a;
    outline: none;
    transition: 0.3s ease-in;
    transition: 0.4s ease-out;
}