/* General CSS for the statistics page */
#statistics_body{
	background-color: #2E2E2E;
	margin:0;
}

@font-face {
  font-family: Nominee;
  src: url(Nominee-Bold.ttf);
}

/* Button CSS design for the statistics page */
.statistics_button {
	text-align: center;
}

.button_nav {
	border: none;
	color: black;
	font-family: Nominee, Arial, sans-serif;
	background-color: #E35F21;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
	font-size: 16px;
	margin-bottom: 30px;
}

.button_nav:hover{
	background-color: black;
	color: white;
}

/* Header CSS design for the statistics page and feedback list page */

#statistics_header, #feedbacklist_header{
	color: #E35F21;
	text-align:center;
	font-style: bold;
	font-family: Nominee, Arial, sans-serif;
	font-size: 40px;
}

.statistics_subheader{
	color: #EEF8F7;
	text-align:center;
	font-style: bold;
	font-family: Nominee, Arial, sans-serif;
	font-size: 30px;
}


/* ORDER LIST PAGE (Author: Simon Jingga) */
@font-face {
    font-family: Nominee-Thin;
    src: url(Nominee-Thin.ttf);
}

@font-face {
    font-family: Nominee-Medium;
    src: url(Nominee-Medium.ttf);
}

/* FOR LIST OF RECORDS */
#orderpage_body{
    background-color: #2E2E2E;
    font-family: Nominee-Medium, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

#orderlist{
    max-width: 90%;
    margin: 0 auto;
}

#orderlist > div:first-child{
    margin-top: 5vh;
    color: white;
}

#orderlist div:first-child h1{
    font-family: Nominee-Thin, sans-serif;
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
}

#orderlist a{
    float: right;
    font-family: Nominee-Thin;
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#orderlist a:hover{
    background-color: black;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

#orderlist div:first-child a{
    background-color:  #27ae60;
}

#orderlist div:first-child a:hover{
    color:  #27ae60;
    background-color: black;
}

hr+a{
    background-color:  #E35F21;
}

hr+a:hover{
    color: #E35F21;
}

#orderlist table .fkoff{
    text-align: center;
}

#orderlist table{
    min-width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    padding: 40px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 12px;
}

#orderlist table caption{
    padding-bottom: 10px;
    font-size: larger;
}

#orderlist table th, #orderlist table caption,#orderlist h1{
    color: white;
}

#orderlist table th, #orderlist table td{
    padding: 7px 5px;
}
#orderlist table td{
    border-left: 1.5px solid  #e6e6e6;
    border-right: 1.5px solid #e6e6e6;
}

#orderlist table tr{
    background-color: #ffffff;
    padding-bottom: 10px;
}

#orderlist table tr .noborder{
    border: none;
}

#orderlist table tbody tr:nth-child(4n+0), #orderlist table td[rowspan]{
    border-bottom: 1.5px solid  #e6e6e6;
}

#pending_form, #orderlist hr{
    margin-bottom: 10%;
}

#orderlisttable_pend th{
    background-color: #E35F21;
    border-right:1px solid #ffffff;
    border-left: 1px solid #E35F21;
    border-top: 1px solid #E35F21;
    border-bottom: 1px solid #E35F21;
}

#orderlisttable_deliv th{
    background-color: #27ae60;
    border-right:1px solid #ffffff;
}

#orderlisttable_pend td.event{
    width: 46%;
}

#orderlisttable_pend>tr:first-child td:last-child{
    text-align:  center;
}

#ol_buttonHolder{
    margin-top: 10px;
    text-align: right;
}

#ol_buttonHolder input{
    padding: 15px;
    cursor: pointer;
    border: 0;
    background-color: #E35F21;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#ol_buttonHolder input:hover{
    background-color: black;
    color:#E35F21;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.ol_customSelect select{
    padding: 10px 5px;
    border: 0.5px solid black;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* CSS design for the receipt page*/
[class="receiptpage"] .receipt-main {
    background: #ffffff;
    border-bottom: 12px solid #333333;
    border-top: 12px solid #333333;
    padding: 40px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 21px #acacac;
    width: 700px;
    height: 850px;
    color: #333333;
    font-family: open sans;
}

[class="receiptpage"] .receipt-main p {
    color: #333333;
    font-family: open sans;
    line-height: 1.45;
}

[class="receiptpage"] .receipt-footer h1 {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

[class="receiptpage"] .row-footer {
    margin-top: 310px;
}

[class="receiptpage"] .receipt-main thead {
    background: #414143;
    width: auto;
}

[class="receiptpage"] .receipt-main thead th {
    color: #fff;
}

[class="receiptpage"] .receipt-text h5 {
    font-size: 16px;
    font-weight: bold;
	margin: 0 0 7px 0;
}

[class="receiptpage"] .receipt-text p {
    font-size: 12px;
    margin: 0px;
}

[class="receiptpage"] .receipt-main td {
    padding: 9px 20px;
}

[class="receiptpage"] .receipt-main th {
    padding: 13px 20px;
}

[class="receiptpage"] .receipt-main td {
    font-size: 13px;
    font-weight: initial;
}

[class="receiptpage"] .receipt-main td h2 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
}

[class="receiptpage"] .receipt-header-mid .receipt-right h1 {
    font-weight: 100;
    margin: 34px 0 0;
    text-align: right;
    text-transform: uppercase;
}

[class="receiptpage"] .receipt-header-mid {
    margin: 24px 0;
    overflow: hidden;
}

[class="receiptpage"] .receipt-company-header{
    text-align: right;
}

[class="receiptpage"] table.table {
    width: 100%;
}

body[class ="receiptpage"]{
    background-color: #353535;
}



