
/*Description: Style for registration*/
/*Author: Joanna Wong*/
/*Date: 4 October 2020  */
/*Validated: */

*{
	font-family:"century gothic",sans-serif;
}

#registration-heading{
	margin:0 auto;
	
}

#registration-form{
	
}

.registration-table {
	width:1300px;
	margin: 0 auto;
	
}

textarea{
	width: 80%;
	border: 1px solid black;
}

input[type=submit], input[type=reset]{
	text-align: center;
	margin: 20px 20px;
	
}



