
/* hiding certain contents by default*/
#profile-order, .pInfo-field-input,
.pInfo-form-buttons button:not(:first-child),
.pInfo-popUpBox{
    display: none;
}

#profile-nav{
    width: 30%;
    float: left;
}

#profile-nav button{
    display: block;
    margin: 22px auto 0px auto;
}

#profile-content{
    overflow: hidden;
    width: 65%;
    color: white;
}


#dimScreen{
    display: none;

    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
}

.pInfo-popUpBox{
    background-color: black;

    /* positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}


/* extra adjustments */
footer{
    clear: both;
}